<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eddie的个人社区欢迎页面</title>
    <meta name="application-name" content="Eddie的个人社区">
    <meta name="keywords" content="Eddie个人社区系统，Eddie的个人博客">
    <meta name="description" content="Eddie的个人博客，专注Java技术">
    <meta name="author" content="Eddie">
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" rel="stylesheet">
 <style type="text/css">
  /*body{*/
  /* background-image: url("");*/
  /*}*/

 </style>

</head>
<body>




</body>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}" type="text/javascript"></script>
</html>